@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  color: #59595b;
}
body {
  margin: 0px;
}
li > *,
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  font-family: "Bebas Neue", cursive;
  flex-direction: row;
  padding: 35px 5%;
  align-items: center;
}
nav .menu li {
  padding: 10px;
  font-size: 25px;
}
.nowrap {
  white-space: nowrap;
}
nav ul {
  display: flex;
  width: 60%;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  text-align: center;
  align-items: center;
}
nav .menu-btn {
  display: none;
}
nav img {
  display: block;
  width: 100px;
  height: 100px;
}
nav li > *:hover,
nav li > *:focus,
nobr:hover,
nobr:focus {
  color: #e8521f;
}

.nav-active {
  color: #e8521f;
}
nav > .main-button {
  margin-right: 40px;
}
.main-button,
.submit-button {
  padding: 10px 18px;
  border-radius: 7px;
  font-family: "Bebas Neue", cursive;
  background: #e8521f 0% 0% no-repeat padding-box;
  text-align: center;
  border: solid 3px #e8521f;
  width: 250px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.input-after {
  color: #e8521f;
  width: 40%;
  margin: auto;
}
.main-button:hover,
.submit-button:hover {
  background-color: white;
  border: solid 3px #e8521f;
  color: #e8521f;
}
.agb-container {
  height: 60vh;
}
.main-container h1,
.sofunk-container h1,
.info-container h1,
.sponsor-container h1,
.bots-container h1,
.team-container h1,
.agb-container h1,
.daten-container h1,
.imp-container h1 {
  font-family: "Bebas Neue", cursive;
  opacity: 90%;
  font-size: 130px;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
  font-weight: 100;
}
.main-container p,
.sofunk-container p,
.info-container p,
.sponsor-container p,
.bots-container p,
.team-container p,
.daten-container p,
.imp-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-left: 140px;
  padding-right: 140px;
}
.spons-text {
  margin-top: 600px;
  color: #e8521f;
}
.main-container h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.main-container ul {
  padding-left: 140px;
  padding-right: 140px;
  list-style-type: "-";
  text-align: "left";
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.submit-button {
  margin: auto;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  width: auto;
  padding: 13px 21px;
}
.submit-button:hover {
  color: #e8521f;
}
.bg-holder {
  height: 100%;
  margin-top: -330px;
}

.bg-holder::before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  opacity: 0.15;
  z-index: -1;
  background: url(images/bgmain.jpg) 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position: center;
}
.main-container {
  padding-top: 300px;
}
.main-bottom__text {
  color: #e8521f;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 300px;
}
.main-link {
  color: #e8521f;
  text-decoration: underline;
}
.main-text__small {
  font-size: 20px;
}
.sofunk-container,
.info-container,
.sponsor-container,
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-img__box {
  display: flex;
  margin-top: 100px;
}
.team-img__holder {
  text-align: center;
}
.team-img__holder img {
  width: 80%;
}
.team-img__holder p {
  font-size: 20px;
  padding: 0px 50px;
}
.team-img__holder h3 {
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

.form-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-box {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 50px;
}

.input-box input {
  padding: 10px 30px;
  font-size: 24px;
  width: 422px;
  font-family: "Bebas Neue", cursive;
  color: #87878b;
  background-color: #e6e6e6;
  border: solid 1px #707070;
  border-radius: 8px;
  opacity: 0.85;
}
.team-bottom__text,
.team-container p:nth-of-type(2),
.sponsor-container p:nth-of-type(2) {
  color: #e8521f;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.team-button {
  margin-bottom: 120px;
}
.sofunk-icons__box {
  display: flex;
  width: 100%;
  width: 90%;
  align-self: center;
}
.sofunk-icons__holder i {
  font-size: 60px;
  align-self: center;
}
.sofunk-icons__box p {
  padding: 20px;
}
.sofunk-icons__holder {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.sofunk-icons__holder img {
  display: block;
  margin: auto;
}
footer {
  background-color: #59595b;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;
}
.footer-icons {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.footer-icons > a {
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.footer-text {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}
.link {
  color: #87878b;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
}
.link-active {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  color: #e8521f;
}
.slider-box {
  width: 90%;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-element img {
  width: 16vw;
  height: 16vw;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
}
.slick-prev:before {
  content: "\A";
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #e8521f transparent;
  position: absolute;
  bottom: 25px;
  right: 20px;
  z-index: 20;
}
.slick-slide > div {
  display: flex;
  justify-content: center;
}
.slick-next {
  right: -25px;
}
.slick-next:before {
  content: "\A";
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #e8521f transparent;
  position: absolute;
  transform: rotate(180deg);
  bottom: 25px;
  font-size: 30px;
}
.slider-element p {
  padding-left: 20px;
  padding-right: 20px;
}
.main-small {
  display: none;
}
.nav-but {
  font-size: 35px;
}
.sofunk-container p:nth-of-type(3) {
  font-size: 20px;
  margin-top: 140px;
  margin-bottom: 130px;
}
@media screen and (max-width: 1280px) {
  nav .menu li {
    font-size: 14px;
  }
  .nav-but{
    font-size: 16px;
    padding: 7px 17px 8px 18px;
    width: auto;
  }
  .main-container h1,
  .sofunk-container h1,
  .info-container h1,
  .sponsor-container h1,
  .bots-container h1,
  .team-container h1,
  .daten-container h1,
  .imp-container h1 {
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 100;
    font-size: 90px;
  }
  .main-container p,
  .sofunk-container p,
  .info-container p,
  .sponsor-container p,
  .bots-container p,
  .team-container p,
  .daten-container p,
  .imp-container p,
  .main-container ul {
    font-size: 14px;
  }
  .team-bottom__text {
    margin-top: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .sofunk-inf {
    font-size: 12px;
  }
  .input-box input {
    width: 180px;
    font-size: 18px;
  }
  .submit-button {
    font-size: 18px;
    padding: 7px 17px 8px 18px;
  }
  .main-bot-but {
    margin-top: 150px;
  }
  .slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider-element {
    padding: 40px;
  }
  .footer-text {
    margin-right: 50px;
  }
  .slider-box {
    height: auto;
    width: 100%;
  }
  .slider-element img {
    width: 19vw;
    height: 19vw;
  }
}
@media screen and (max-width: 750px) {
  .main-small {
    display: block;
  }
  .main-small a {
    color: white;
    background: #e8521f 0% 0% no-repeat padding-box;
    padding: 3px 7px 2px 8px;
    border-radius: 5px;
    font-weight: 100;
  }
  .menu {
    opacity: 0;
    margin: 0px;
    transition: 0.1s ease-in-out;
    display: block;
    z-index: 10;
    position: absolute;
    top: 18px;
    padding-top: 40px;
    left: 50%;
    background-color: white;
    width: 45%;
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000029;
  }
  .menu-icon {
    display: block;
    z-index: 15;
  }
  .menu li {
    width: 90%;
  }
  nav .menu li {
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 22px;
    padding-bottom: 22px;
    z-index: 10;
    font-size: 22px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }
  .nav-but {
    display: none;
  }
  nav a {
    white-space: normal;
    font-size: 16px;
    padding-left: 10px;
  }

  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 7%;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #e8521f;
    display: block;
    height: 5px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 24px;
    border-radius: 3px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: #f8f8f8;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 9px;
    background-color: #e8521f;
    border-radius: 3px;
  }
  nav .menu-icon .nav-icon:after {
    top: -9px;
    background-color: #e8521f;
    border-radius: 3px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
    background-color: #87878b;
    border-radius: 3px;
    height: 3px;
    width: 17px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
    height: 3px;
    width: 17px;
    background-color: #87878b;
    border-radius: 3px;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
    opacity: 1;
    z-index: 10;
    position: absolute;
    top: 18px;
    padding-top: 40px;
    left: 55%;
    background-color: white;
    width: 40%;
    border-radius: 7px;
    box-shadow: 0px 3px 6px #00000029;
    padding-bottom: 12px;
  }

  nav .menu li {
    padding: 3px 0px;
  }

  nav {
    justify-content: space-between;
    padding: 5px;
  }
  nav img {
    width: 69px;
    height: 69px;
  }
  .main-container h1 {
    margin: 10px;
    padding: auto;
  }

  .main-container ul {
    padding: 10px;
    font-size: 17px;
  }
  .main-container {
    padding-top: 350px;
  }
  .input-box {
    display: inline;
    text-align: center;
  }
  .input-after {
    width: 70%;
  }
  .input-box input {
    width: 154px;
    margin: 5px;
  }
  footer {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .agb-container {
    height: 70vh;
  }
  .footer-text {
    width: 100%;
    margin-right: 0px;
  }
  .footer-icons {
    margin-left: 0px;
  }
  .main-container h1,
  .sofunk-container h1,
  .info-container h1,
  .sponsor-container h1,
  .bots-container h1,
  .team-container h1,
  .agb-container h1,
  .daten-container h1,
  .imp-container h1 {
    font-size: 50px;
    padding: 0px 36px;
  }
  .main-container p,
  .sofunk-container p,
  .info-container p,
  .sponsor-container p,
  .bots-container p,
  .team-container p,
  .daten-container p,
  .imp-container p,
  .main-container ul {
    font-size: 17px;
    padding-left: 36px;
    padding-right: 36px;
    word-break: break-word;
  }
  .main-container h3 {
    padding: 0px 30px;
  }

  .sofunk-icons__holder i {
    font-size: 60px;
  }
  .sofunk-container p {
    font-size: 12px;
  }
  .team-container p {
    font-size: 14px;
    padding: 50px 60px;
  }
  .team-img__holder > p {
    font-size: 12px;
    padding: 0 36px;
    margin-bottom: 100px;
  }
  .team-img__holder > h3 {
    margin-bottom: 5px;
  }
  .team-img__box {
    flex-direction: column;
  }
  .team-img__holder img {
    width: auto;
  }
  .footer-icons > a > img {
    height: 44px;
    width: 44px;
  }
  .footer-icons > a {
    margin: 5px;
  }

  .slider-element {
    display: flex;
    flex-direction: column;
  }
  .slider-element img {
    object-fit: cover;
    height: 40vw;
    width: 40vw;
  }
  .bots-container p {
    font-size: 22px;
  }

  .sofunk-icons__box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sofunk-icons__holder {
    width: 95%;
  }
  nav ul {
    text-align: right;
  }
}
