@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  color: #59595b;
}

li > *,
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  font-family: "Bebas Neue", cursive;
  flex-direction: row;
  padding: 35px 5%;
  align-items: center;
}
nav ul {
  display: flex;
  width: 60%;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav .menu-btn {
  display: none;
}
nav img {
  display: block;
  width: 100px;
  height: 100px;
}
nav li > *:hover,
nav li > *:focus {
  color: #e8521f;
}
nav > .main-button {
  margin-right: 40px;
}
.main-button {
  padding: 10px 18px;
  border-radius: 7px;
  font-family: "Bebas Neue", cursive;
  background: #e8521f 0% 0% no-repeat padding-box;
  text-align: center;
  border: solid 3px #e8521f;
  width: 250px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.input-after{
  color: #e8521f;
  width: 40%;
  margin: auto;
}
.main-button:hover {
  background-color: white;
  border: solid 3px #e8521f;
  color: #e8521f;
}
.agb-container {
  height: 60vh;
}
.main-container h1,
.sofunk-container h1,
.info-container h1,
.sponsor-container h1,
.bots-container h1,
.team-container h1,
.agb-container h1,
.daten-container h1,
.imp-container h1 {
  font-family: "Bebas Neue", cursive;
  opacity: 90%;
  font-size: 100px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.main-container p,
.sofunk-container p,
.info-container p,
.sponsor-container p,
.bots-container p,
.team-container p,
.daten-container p,
.imp-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-left: 140px;
  padding-right: 140px;
}
.spons-text {
  margin-top: 600px;
  color: #e8521f;
}
.main-container h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.main-container ul {
  padding-left: 140px;
  padding-right: 140px;
  list-style-type: "-";
  text-align: "left";
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.main-container .main-button {
  margin: auto;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  width: 160px;
}
.main-container .main-button:hover {
  color: #e8521f;
}
.bg-holder {
  height: 100%;
  margin-top: -330px;
}

.bg-holder::before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  opacity: 0.15;
  z-index: -1;
  background: url(images/bgmain.jpg) 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position: center;
}
.main-container {
  padding-top: 300px;
}
.main-bottom__text {
  color: #e8521f;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 300px;
}
.main-link {
  color: #e8521f;
}
.main-text__small {
  font-size: 20px;
}
.sofunk-container,
.info-container,
.sponsor-container,
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-img__box {
  display: flex;
  margin-top: 100px;
}
.team-img__holder {
  text-align: center;
}
.team-img__holder img {
  width: 80%;
}
.team-img__holder p {
  font-size: 20px;
  padding: 0px 50px;
}
.team-img__holder h3 {
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

.form-holder {
  display: flex;
  flex-direction: column;
}
.input-box {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 50px;
}

.input-box input {
  padding: 10px 30px;
  font-size: 24px;
  width: 422px;
  font-family: "Bebas Neue", cursive;
  color: #87878b;
  background-color: #e6e6e6;
  border: solid 1px #707070;
  border-radius: 8px;
  opacity: 0.85;
}
.team-bottom__text {
  color: #e8521f;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.team-button {
  margin-bottom: 120px;
}
.sofunk-icons__box {
  display: flex;
  width: 100%;
  width: 90%;
  align-self: center;
}
.sofunk-icons__holder i {
  font-size: 60px;
  align-self: center;
}
.sofunk-icons__box p {
  padding: 20px;
}
.sofunk-icons__holder {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.sofunk-icons__holder img {
  display: block;
  margin: auto;
}
footer {
  background-color: #59595b;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;
}
.footer-icons {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.footer-icons > a {
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.footer-text {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}
.footer-text p {
  color: #87878b;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
}
.slider-box {
  width: 90%;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-element img {
  width: 16vw;
  height: 16vw;
  object-fit: cover;
  border-radius: 20px;
  margin: auto;
}
.slick-prev:before {
  content: "\A";
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #e8521f transparent;
  position: absolute;
  bottom: 25px;
  right: 20px;
  z-index: 20;
}
.slick-slide > div {
  display: flex;
  justify-content: center;
}
.slick-next {
  right: -25px;
}
.slick-next:before {
  content: "\A";
  border-style: solid;
  border-width: 20px 30px 20px 0;
  border-color: transparent #e8521f transparent;
  position: absolute;
  transform: rotate(180deg);
  bottom: 25px;
  font-size: 30px;
}
.slider-element p {
  padding-left: 20px;
  padding-right: 20px;
}
.main-small{
  display: none;
}
@media screen and (max-width: 1000px) {
  .main-small{
    display: block;
   
  }
  .main-small a{
    color: #e8521f;
  }
  .menu {
    position: absolute;
    top: -1000px;
    left: 0px;
    background-color: black;
    width: 100%;
    padding: 2px;
    margin: 0px;
    transition: 0.1s ease-in-out;
  }
  .menu-icon {
    display: block;
    z-index: 15;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li {
    width: 100%;
    height: 15px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 22px;
    padding-bottom: 22px;

    z-index: 10;
    font-size: 22px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }
  .main-button {
    display: none;
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: #15161c;
    display: block;
    height: 3px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 34px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: #f8f8f8;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 9px;
    background-color: #15161c;
  }
  nav .menu-icon .nav-icon:after {
    top: -9px;
    background-color: #3d2514;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
    background-color: #15161c;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
    background-color: #15161c;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
    z-index: 10;
    position: absolute;
    top: 0px;
    padding-top: 115px;
    left: 0px;
    box-shadow: 0 0 2em black;
    background-color: white;
  }

  .menu li {
    width: 100%;
  }

  nav {
    justify-content: space-between;
    padding: 5px;
  }
  .main-container h1 {
    margin: 10px;
    padding: auto;
  }

  .main-container ul {
    padding: 10px;
    font-size: 17px;
  }
  .input-box {
    display: inline;
    text-align: center;
  }
  .input-after{
    width: 95%;
  }
  .input-box input {
    width: 300px;
    margin: 5px;
  }
  footer {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer-text {
    width: 100%;
  }
  .footer-icons {
    margin-left: 0px;
  }
  .main-container h1,
  .sofunk-container h1,
  .info-container h1,
  .sponsor-container h1,
  .bots-container h1,
  .team-container h1,
  .agb-container h1,
  .daten-container h1,
  .imp-container h1 {
    font-size: 50px;
    padding: 0px;
  }
  .main-container p,
  .sofunk-container p,
  .info-container p,
  .sponsor-container p,
  .bots-container p,
  .team-container p,
  .daten-container p,
  .imp-container p {
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .sofunk-icons__holder i {
    font-size: 30px;
  }
  .sofunk-container p {
    font-size: 12px;
  }
  .team-container p {
    font-size: 12px;
  }
  .team-img__box {
    flex-direction: column;
  }
  .team-img__holder img {
    width: auto;
  }
  .spons-text {
    margin-top: 50px;
  }
  .slider-box {
    height: 470px;
  }
  .slider-element img {
    width: 80%;
    object-fit: cover;
    height: 400px;
  }
  .bots-container p {
    font-size: 22px;
  }
  .footer-icons > a {
    height: 18%;
  }
  .sofunk-icons__box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sofunk-icons__holder {
    width: 48%;
  }
}
